@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        background: white;
        left: 0;
        width: 100%;
        justify-content: center !important;
        padding: 5px 0;
    }
    .wabtn,.call{
        padding: 7px 15px;
        font-size: 14px;
    }
    .registerleft h1{
        font-size: 28px;
        text-align: center;
        line-height: 35px;
    }
    .registerleft br{
        display: none;
    }
    .registerleft p,.registerleft ul li{
        font-size: 16px;
    }
    .registerleftbtn{
        flex-direction: column;
    }
    .registerleftbtn button{
        width: 100%;
    }
    .registerleft ul{
        line-height: 30px;
    }
    .rightregister{
        padding: 20px;
    }
    .contersection{
        margin-top: 40px;
    }
    .high-heading{
        font-size: 28px;
    }
    .high-heading-para{
        font-size: 14px;
    }
    .highlightitems h4{
        font-size: 16px;
    }
    .highlightitems p{
        font-size: 12px;
    }
    .bookbtn{
        width: 100%;
        font-size: 15px;
        padding: 12px 0px;
    }
    .curriculumsection h3{
        font-size: 28px;    
        text-align: start;
    }
    .curriculumsection p{
        font-size: 14px;
        text-align: start;
    }
    .curriculumsection ul li{
        text-align: start;
    }
    .Faqsection h3{
        font-size: 28px;
    }
    .Faqsection p{
        font-size: 14px;
    }
    .tabitemcontent ul li{
        font-size: 14px;  
        margin: 10px;
    }
    .careersection h3{
        font-size: 20px;
    }
    .careersection p{
        font-size: 14px;
    }
    .careeritem{
        display: inline !important;
    }
    .whysection h4{
        font-size: 20px;
    }
    .whysection p{
        font-size: 14px;
    }.whytab h5{
        font-size: 16px;
    }
    .studentfeed h3{
        font-size: 22px ;
    }
    .studentfeed p{
        font-size: 14px;
    }
    .aboutstudent{
        flex-direction: column;
    }
    .studenttab b{
        font-size: 16px;
    }
    .studenttab p{
        font-size: 11px;
    }
    .writtenfeed p{
        font-size: 14px;
    }
    .digitalCompany h4{
        font-size: 22px;
    }
    .companylogo{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .companylogo img{
        width: 160px;
    }
    .redbus{
        width: 120px !important;
    }
    
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}